
body {
    background-image: url('./assets/23eb06fc2442dc73dca4b2faa4c4f2e4.jpg');
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat; 

 
    }


*{

    ::-webkit-scrollbar {
        width: 11px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
        
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
         
        background: linear-gradient(145deg, #0f0c29, #302b63, #24243e);
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
}